<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WonsinheungMid.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91541DD229BC56CD006EBDA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91541DE229BC56CD006EBDA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91541DEC29BC56CD006EBDA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
